Repository SimonRichardson/juju, changes with the owners that .github/CODEOWNERS names for each.
All owners: @manadart, @SimonRichardson, @jack-w-shaw, @hmlanigan, @nvinuesa, @tlm, @gfouillet

.github/CODEOWNERS:

# Core database packages
/core/changestream/**                         @manadart @SimonRichardson
/core/database/**                             @manadart @SimonRichardson
/core/watcher/**                              @manadart @SimonRichardson
/internal/database/**                         @manadart @SimonRichardson
/internal/worker/dbaccessor/**                @manadart @SimonRichardson
/internal/worker/changestream/**              @manadart @SimonRichardson
/internal/worker/changestreampruner/**        @manadart @SimonRichardson

# Lease management packages
/internal/worker/lease/**                     @manadart
/internal/worker/leaseexpiry/**               @manadart

# REPL worker
/internal/worker/dbrepl/**                    @manadart @SimonRichardson @jack-w-shaw
/internal/worker/dbreplaccessor/**            @manadart @SimonRichardson @jack-w-shaw

# Charmhub
/internal/charmhub/**                         @hmlanigan @SimonRichardson @nvinuesa @jack-w-shaw

# Model domain packages
/core/model/**                                @tlm
/domain/model/**                              @tlm
/domain/modelconfig/**                        @tlm

# Macaroons
/internal/macaroon/**                         @manadart @jack-w-shaw
/domain/macaroon/**                           @manadart @jack-w-shaw

# Juju controller
/cmd/jujud-controller/**                      @manadart @SimonRichardson

# Application (and charm) domain packages
/core/charm/**                                @SimonRichardson @nvinuesa @jack-w-shaw
/internal/charm/**                            @SimonRichardson @nvinuesa @jack-w-shaw
/domain/application/**                        @SimonRichardson @nvinuesa @jack-w-shaw
/internal/worker/asynccharmdownloader/**      @SimonRichardson

# Network domain packages
/domain/network/**                            @manadart @nvinuesa

# External controller domain packages
/domain/externalcontroller/**                 @manadart @nvinuesa

# Resource domain packages
/core/resource/**                             @hmlanigan @gfouillet
/domain/resource/**                           @hmlanigan @gfouillet
/internal/resource/**                         @hmlanigan @gfouillet

# Relation domain packages
/core/relation/**                             @hmlanigan @gfouillet
/domain/relation/**                           @hmlanigan @gfouillet

# Cross model relation domain packages
/domain/crossmodelrelation/**                 @SimonRichardson
/internal/worker/remoterelationconsumer/**    @SimonRichardson
/internal/worker/remoterelationofferer/**     @SimonRichardson

# Removal
/internal/worker/removal/**                   @manadart
/domain/removal/**                            @manadart

feat: add status fixes to the lifecycle
  internal/worker/uniter/holisticuniter/lifecycle.go
  internal/worker/uniter/holisticuniter/lifecycle_test.go
Owners: none

feat: drop unit snapshot
  internal/worker/uniter/shared/context/context.go
  internal/worker/uniter/shared/context/context_test.go
  internal/worker/uniter/shared/context/env_test.go
  internal/worker/uniter/shared/jujuc/server.go
  internal/worker/uniter/shared/jujuc/unit-snapshot.go
  internal/worker/uniter/shared/jujuc/unit-snapshot_test.go
  testcharms/charms/holistic/README.md
  testcharms/charms/holistic/hooks/holistic-reconcile
Owners: none

fix(spread): fix controller lifecycle and tooling delivery
  spread.yaml
  tests/lib/juju.sh
  tests/lib/spread-env.sh
Owners: none

test(spread): add local usage docs and restore task gating
  tests/spread/README.md
  tests/spread/deploy/deploy-charm-placement/task.yaml
  tests/spread/deploy/deploy-local-lxd-profile-charm/task.yaml
  tests/spread/deploy/deploy-lxd-profile-charm-container/task.yaml
  tests/spread/deploy/deploy-lxd-profile-charm/task.yaml
Owners: none

ci(spread): add GitHub Actions workflow for spread tests
  .github/workflows/spread.yml
  .gitignore
  spread.yaml
  tests/spread/deploy/deploy-charm-placement/task.yaml
Owners: none

feat(spread): add shared path helpers for lxd-profile tests
  tests/lib/paths.sh
  tests/lib/spread-env.sh
Owners: none

test(spread): document reading results and logs
  tests/spread/README.md
Owners: none

refactor: ensure unit resources are singular
  domain/schema/model/sql/0023-resource.sql
Owners: none

feat: transform unit resources
  domain/export/types/v4_1_0/model.go
  domain/modelimport/state/model/roundtrip_test.go
  domain/modelimport/transformer/transforms/to_v4_1_0/deltas.go
  domain/modelimport/transformer/transforms/to_v4_1_0/deltas_test.go
  domain/modelimport/transformer/transforms/to_v4_1_0/transform.go
  generate/export/transform.tmpl
Owners: none

test: improve legacy coverage
  domain/resource/modelmigration/import_test.go
Owners: @hmlanigan, @gfouillet

refactor: insert charm resource name for a resource
  domain/resource/state/resource.go
  domain/resource/state/resource_test.go
  domain/resource/state/types.go
Owners: @hmlanigan, @gfouillet

feat: remove unit_resources that are not in use
  domain/application/service/unit.go
  domain/application/state/unit.go
  domain/application/state/unit_test.go
Owners: @SimonRichardson, @nvinuesa, @jack-w-shaw

refactor: ensure that resources are immutable
  apiserver/facades/client/resources/service.go
  domain/application/service/application.go
  domain/application/service/application_test.go
  domain/application/state/application.go
  domain/application/state/application_refresh_test.go
  domain/application/state/resource.go
  domain/application/types.go
  domain/resource/service/package_mock_test.go
  domain/resource/service/resource.go
  domain/resource/service/resource_test.go
  domain/resource/state/resource.go
  domain/resource/state/resource_test.go
  domain/resource/state/types.go
  domain/resource/types.go
Owners: @SimonRichardson, @nvinuesa, @jack-w-shaw, @hmlanigan, @gfouillet

chore: add basic resources charm
  testcharms/charms/resources/charmcraft.yaml
  testcharms/charms/resources/hooks/install
  testcharms/charms/resources/hooks/upgrade-charm
Owners: none

test: resource integration tests
  tests/suites/resources/charms/resource-lifecycle-invalid/charmcraft.yaml
  tests/suites/resources/charms/resource-lifecycle-invalid/hooks/install
  tests/suites/resources/charms/resource-lifecycle-invalid/hooks/upgrade-charm
  tests/suites/resources/charms/resource-lifecycle-v1/charmcraft.yaml
  tests/suites/resources/charms/resource-lifecycle-v1/hooks/install
  tests/suites/resources/charms/resource-lifecycle-v1/hooks/upgrade-charm
  tests/suites/resources/charms/resource-lifecycle-v2/charmcraft.yaml
  tests/suites/resources/charms/resource-lifecycle-v2/hooks/install
  tests/suites/resources/charms/resource-lifecycle-v2/hooks/upgrade-charm
  tests/suites/resources/charms/resource-lifecycle-v3/charmcraft.yaml
  tests/suites/resources/charms/resource-lifecycle-v3/hooks/install
  tests/suites/resources/charms/resource-lifecycle-v3/hooks/upgrade-charm
  tests/suites/resources/charms/resources/charmcraft.yaml
  tests/suites/resources/charms/resources/hooks/install
  tests/suites/resources/charms/resources/hooks/upgrade-charm
  tests/suites/resources/lifecycle.sh
  tests/suites/resources/refresh.sh
  tests/suites/resources/task.sh
Owners: none

chore: delete helper charm
  testcharms/charms/resources/charmcraft.yaml
  testcharms/charms/resources/hooks/install
  testcharms/charms/resources/hooks/upgrade-charm
Owners: none

docs: improve documentation in resource methods
  domain/resource/service/resource.go
  domain/resource/state/resource.go
Owners: @hmlanigan, @gfouillet

refactor: ensure resources are immutable
  domain/application/service/application.go
  domain/application/service/application_test.go
  domain/application/state/application.go
  domain/application/state/application_refresh_test.go
  domain/application/state/resource.go
  domain/application/types.go
Owners: @SimonRichardson, @nvinuesa, @jack-w-shaw

refactor: handle resource immutability in facades
  apiserver/facades/client/application/application.go
  apiserver/facades/client/application/application_test.go
  apiserver/facades/client/resources/facade.go
  apiserver/facades/client/resources/facade_test.go
  apiserver/facades/client/resources/service.go
  apiserver/facades/client/resources/service_mock_test.go
Owners: none

chore: fix list layout
  cmd/juju/resource/formatter.go
  cmd/juju/resource/list.go
  cmd/juju/resource/list_test.go
Owners: none

feat: watch table
  internal/worker/dbrepl/watch.go
  internal/worker/dbrepl/watch_test.go
  internal/worker/dbrepl/worker.go
Owners: @manadart, @SimonRichardson, @jack-w-shaw

refactor: delta uniter relocation
  internal/worker/uniter/delta.go
  internal/worker/uniter/deltauniter/agent.go
  internal/worker/uniter/deltauniter/entity_mocks_test.go
  internal/worker/uniter/deltauniter/interface.go
  internal/worker/uniter/deltauniter/mock_test.go
  internal/worker/uniter/deltauniter/mockdeployer_test.go
  internal/worker/uniter/deltauniter/mockrunner_test.go
  internal/worker/uniter/deltauniter/op_callbacks.go
  internal/worker/uniter/deltauniter/pebblenotices.go
  internal/worker/uniter/deltauniter/pebblenotices_test.go
  internal/worker/uniter/deltauniter/pebblepoller.go
  internal/worker/uniter/deltauniter/pebblepoller_test.go
  internal/worker/uniter/deltauniter/probe.go
  internal/worker/uniter/deltauniter/resolver.go
  internal/worker/uniter/deltauniter/resolver_test.go
  internal/worker/uniter/deltauniter/runlistener.go
  internal/worker/uniter/deltauniter/runlistener_test.go
  internal/worker/uniter/deltauniter/scopedcontext_test.go
  internal/worker/uniter/deltauniter/stepped.go
  internal/worker/uniter/deltauniter/stepped_mock_test.go
  internal/worker/uniter/deltauniter/timer.go
  internal/worker/uniter/deltauniter/timer_test.go
  internal/worker/uniter/deltauniter/uniter.go
  internal/worker/uniter/deltauniter/uniter_test.go
  internal/worker/uniter/deltauniter/util_test.go
  internal/worker/uniter/deltauniter/watcher_mocks_test.go
  internal/worker/uniter/stepped.go
Owners: none

feat: taint a uniter with a runtime
  domain/schema/model/sql/0020-unit.sql
  domain/schema/model_schema_test.go
Owners: none

feat: taint the unit
  domain/application/state/types.go
  domain/application/state/unit.go
  domain/application/state/unit_test.go
  domain/application/state/unitstate.go
  domain/application/types.go
Owners: @SimonRichardson, @nvinuesa, @jack-w-shaw

feat: identify holistic uniter
  core/assumes/features.go
  core/assumes/sat_checker_test.go
  domain/application/service/provider.go
  domain/application/service/provider_test.go
  domain/application/service/storage_test.go
  domain/deployment/charm/assumes/required.go
  domain/deployment/charm/assumes/required_test.go
Owners: @SimonRichardson, @nvinuesa, @jack-w-shaw

feat: expose runtime to uniter facade and api
  api/agent/uniter/unit.go
  api/agent/uniter/unit_test.go
  apiserver/facades/agent/uniter/uniter.go
  apiserver/facades/agent/uniter/uniter_test.go
  domain/application/state/types.go
  domain/application/state/unit.go
  domain/application/state/unit_test.go
  domain/application/types.go
  domain/schema/model/sql/0020-unit.sql
  rpc/params/internal.go
Owners: @SimonRichardson, @nvinuesa, @jack-w-shaw

feat: add unit snapshot
  rpc/params/unit_snapshot.go
  rpc/params/unit_snapshot_test.go
Owners: none

feat: composite unit watcher
  domain/application/service/package_mock_test.go
  domain/application/service/service.go
  domain/application/service/unit.go
  domain/application/state/types.go
  domain/application/state/unit.go
  domain/application/state/unit_test.go
  domain/application/types.go
  domain/application/unit_integration_test.go
  domain/application/watcher_test.go
Owners: @SimonRichardson, @nvinuesa, @jack-w-shaw

feat: expose watch unit composite
  api/agent/uniter/unit.go
  api/agent/uniter/unit_test.go
  apiserver/facades/agent/uniter/service.go
  apiserver/facades/agent/uniter/service_mock_test.go
  apiserver/facades/agent/uniter/uniter.go
  apiserver/facades/agent/uniter/uniter_test.go
Owners: none

refactor: wire up unitstate
  apiserver/facades/agent/uniter/service.go
  apiserver/facades/agent/uniter/service_mock_test.go
  apiserver/facades/agent/uniter/uniter.go
  apiserver/facades/agent/uniter/uniter_test.go
Owners: none

feat: holistic bash charm
  testcharms/charms/holistic/README.md
  testcharms/charms/holistic/charmcraft.yaml
  testcharms/charms/holistic/hooks/config-changed
  testcharms/charms/holistic/hooks/holistic-reconcile
  testcharms/charms/holistic/hooks/install
  testcharms/charms/holistic/hooks/remove
  testcharms/charms/holistic/hooks/start
  testcharms/charms/holistic/hooks/stop
  testcharms/charms/holistic/hooks/upgrade-charm
Owners: none

feat: get relation snapshot
  apiserver/facades/agent/uniter/uniter.go
  apiserver/facades/agent/uniter/uniter_test.go
Owners: none

feat: resolve mode
  internal/worker/uniter/holisticuniter/lifecycle.go
  internal/worker/uniter/holisticuniter/runtime.go
  internal/worker/uniter/holisticuniter/worker.go
  internal/worker/uniter/holisticuniter/worker_test.go
  internal/worker/uniter/manifold.go
Owners: none

feat: handle termination
  internal/worker/uniter/holisticuniter/lifecycle.go
  internal/worker/uniter/holisticuniter/lifecycle_test.go
  internal/worker/uniter/holisticuniter/worker.go
  internal/worker/uniter/holisticuniter/worker_test.go
Owners: none

feat: add reconcile hook
  domain/deployment/charm/hooks/hooks.go
Owners: none

feat: add api addresses
  apiserver/facades/agent/uniter/service.go
  apiserver/facades/agent/uniter/service_mock_test.go
  apiserver/facades/agent/uniter/uniter.go
  apiserver/facades/agent/uniter/uniter_test.go
Owners: none

feat: wire up reconcile hook
  internal/worker/uniter/holisticuniter/lifecycle.go
  internal/worker/uniter/holisticuniter/lifecycle_test.go
  internal/worker/uniter/holisticuniter/runtime.go
  internal/worker/uniter/holisticuniter/worker.go
  internal/worker/uniter/holisticuniter/worker_test.go
  internal/worker/uniter/manifold.go
  internal/worker/uniter/manifold_factory_test.go
  internal/worker/uniter/shared/context/context.go
  internal/worker/uniter/shared/context/context_test.go
  internal/worker/uniter/shared/hook/hook.go
  internal/worker/uniter/shared/jujuc/server.go
  internal/worker/uniter/shared/jujuc/unit-snapshot.go
  internal/worker/uniter/shared/jujuc/unit-snapshot_test.go
Owners: none

feat: reconcile hook
  testcharms/charms/holistic/README.md
  testcharms/charms/holistic/hooks/holistic-reconcile
  testcharms/charms/holistic/hooks/reconcile
Owners: none

feat: get the snapshot
  api/agent/uniter/unit.go
  api/agent/uniter/unit_test.go
  apiserver/facades/agent/uniter/uniter.go
  apiserver/facades/agent/uniter/uniter_test.go
Owners: none

refactor: remove hooks which are no longer required
  testcharms/charms/holistic/README.md
  testcharms/charms/holistic/hooks/config-changed
  testcharms/charms/holistic/hooks/holistic-reconcile
  testcharms/charms/holistic/hooks/upgrade-charm
Owners: none
