Repository SimonRichardson/juju, changes with the owners that .github/CODEOWNERS names for each.
All owners: @manadart, @SimonRichardson, @jack-w-shaw, @hmlanigan, @nvinuesa, @tlm, @gfouillet

.github/CODEOWNERS:

# Core database packages
/core/changestream/**                         @manadart @SimonRichardson
/core/database/**                             @manadart @SimonRichardson
/core/watcher/**                              @manadart @SimonRichardson
/internal/database/**                         @manadart @SimonRichardson
/internal/worker/dbaccessor/**                @manadart @SimonRichardson
/internal/worker/changestream/**              @manadart @SimonRichardson
/internal/worker/changestreampruner/**        @manadart @SimonRichardson

# Lease management packages
/internal/worker/lease/**                     @manadart
/internal/worker/leaseexpiry/**               @manadart

# REPL worker
/internal/worker/dbrepl/**                    @manadart @SimonRichardson @jack-w-shaw
/internal/worker/dbreplaccessor/**            @manadart @SimonRichardson @jack-w-shaw

# Charmhub
/internal/charmhub/**                         @hmlanigan @SimonRichardson @nvinuesa @jack-w-shaw

# Model domain packages
/core/model/**                                @tlm
/domain/model/**                              @tlm
/domain/modelconfig/**                        @tlm

# Macaroons
/internal/macaroon/**                         @manadart @jack-w-shaw
/domain/macaroon/**                           @manadart @jack-w-shaw

# Juju controller
/cmd/jujud-controller/**                      @manadart @SimonRichardson

# Application (and charm) domain packages
/core/charm/**                                @SimonRichardson @nvinuesa @jack-w-shaw
/internal/charm/**                            @SimonRichardson @nvinuesa @jack-w-shaw
/domain/application/**                        @SimonRichardson @nvinuesa @jack-w-shaw
/internal/worker/asynccharmdownloader/**      @SimonRichardson

# Network domain packages
/domain/network/**                            @manadart @nvinuesa

# External controller domain packages
/domain/externalcontroller/**                 @manadart @nvinuesa

# Resource domain packages
/core/resource/**                             @hmlanigan @gfouillet
/domain/resource/**                           @hmlanigan @gfouillet
/internal/resource/**                         @hmlanigan @gfouillet

# Relation domain packages
/core/relation/**                             @hmlanigan @gfouillet
/domain/relation/**                           @hmlanigan @gfouillet

# Cross model relation domain packages
/domain/crossmodelrelation/**                 @SimonRichardson
/internal/worker/remoterelationconsumer/**    @SimonRichardson
/internal/worker/remoterelationofferer/**     @SimonRichardson

# Removal
/internal/worker/removal/**                   @manadart
/domain/removal/**                            @manadart

refaactor: go fix stringscut
  agent/format.go
  cmd/juju/machine/add.go
  domain/operation/watcher_test.go
Owners: none

refactor: go fix waitgroup
  api/watcher/watcher.go
  apiserver/apiserverhttp/mux_bench_test.go
  apiserver/apiserverhttp/mux_test.go
  cmd/juju/action/exec_test.go
  cmd/juju/action/run_test.go
  cmd/juju/action/showoperation_test.go
  cmd/juju/action/showtask_test.go
  internal/network/ssh/testing/sshserver.go
  internal/resource/limiter_test.go
  internal/sshtunneler/tunneler_test.go
  internal/testhelpers/tcpproxy_test.go
  internal/worker/lease/fixture_test.go
  internal/worker/lease/manager_claim_test.go
  internal/worker/uniter/runner/jujuc/server_test.go
  internal/worker/watcherregistry/worker_test.go
Owners: @hmlanigan, @gfouillet, @manadart

fix: deletion of remote application offerers
  domain/removal/state/model/remoteapplicationofferer.go
  domain/removal/state/model/remoteapplicationofferer_test.go
  domain/removal/state/model/state_test.go
Owners: @manadart

feat: s3 objectstore schema
  domain/schema/controller/sql/0014-objectstore-metadata.sql
Owners: none

chore: rebuild trigger for schema changes
  domain/schema/controller/triggers/objectstore-triggers.gen.go
Owners: none

feat: initial scaffolding for scriptlets
  internal/worker/scriptlets/clock_mock_test.go
  internal/worker/scriptlets/doc.go
  internal/worker/scriptlets/manifold.go
  internal/worker/scriptlets/manifold_test.go
  internal/worker/scriptlets/package_test.go
  internal/worker/scriptlets/scriptlet.go
  internal/worker/scriptlets/service_mock_test.go
  internal/worker/scriptlets/watcher_mock_test.go
  internal/worker/scriptlets/worker.go
  internal/worker/scriptlets/worker_test.go
Owners: none

feat: use the right starlark
  go.mod
  go.sum
  internal/worker/scriptlets/scriptlet.go
Owners: none

fix: missing spans
  internal/worker/trace/client.go
  internal/worker/trace/tracer.go
  internal/worker/trace/tracer_test.go
Owners: none

refactor: loki client
  internal/loki/client.go
  internal/loki/client_test.go
Owners: none

refactor: drop tracing from agent config updater
  internal/worker/agentconfigupdater/manifold.go
  internal/worker/agentconfigupdater/manifold_test.go
  internal/worker/agentconfigupdater/worker.go
  internal/worker/agentconfigupdater/worker_test.go
Owners: none

test: observability test charm
  testcharms/charms/observability/charmcraft.yaml
  testcharms/charms/observability/config.yaml
  testcharms/charms/observability/hooks/charm-tracing-relation-changed
  testcharms/charms/observability/hooks/charm-tracing-relation-joined
  testcharms/charms/observability/hooks/config-changed
  testcharms/charms/observability/hooks/install
  testcharms/charms/observability/hooks/loki-push-api-relation-changed
  testcharms/charms/observability/hooks/loki-push-api-relation-joined
  testcharms/charms/observability/hooks/publish-endpoints
  testcharms/charms/observability/hooks/start
  testcharms/charms/observability/hooks/workload-tracing-relation-changed
  testcharms/charms/observability/hooks/workload-tracing-relation-joined
  testcharms/charms/observability/manifest.yaml
  testcharms/charms/observability/metadata.yaml
Owners: none

refactor: use agent config defaults
  agent/agent.go
  apiserver/facades/agent/caasapplication/application.go
  apiserver/facades/agent/caasapplication/application_test.go
  apiserver/facades/agent/caasapplication/package_mock_test.go
  apiserver/facades/agent/caasapplication/package_test.go
  apiserver/facades/agent/caasapplication/register.go
  cmd/jujud/agent/agenttest/agent.go
  cmd/jujud/agent/bootstrap.go
  internal/cloudconfig/instancecfg/instancecfg.go
  internal/cloudconfig/podcfg/podcfg.go
Owners: none

refactor!: remove tracing values from controller config
  controller/config.go
  controller/config_test.go
  controller/configschema.go
Owners: none

feat: add metrics to help diagnose issues
  cmd/jujud/agent/machine/manifolds.go
  internal/worker/controlsocket/manifold.go
  internal/worker/controlsocket/metrics.go
  internal/worker/controlsocket/metrics_test.go
  internal/worker/controlsocket/middleware.go
  internal/worker/controlsocket/worker.go
  internal/worker/controlsocket/worker_test.go
Owners: none

fix: db repl
  cmd/jujud/agent/dbrepl.go
  cmd/jujud/agent/dbrepl/manifolds.go
Owners: none

chore: improve debugging
  internal/worker/controlsocket/middleware.go
  internal/worker/controlsocket/worker.go
  testcharms/charms/observability/config.yaml
  testcharms/charms/observability/hooks/config-changed
  testcharms/charms/observability/hooks/publish-endpoints
Owners: none

feat: ddl schema for generations
  domain/schema/model.go
  domain/schema/model/sql/0037-generation.sql
  domain/schema/model/triggers/generation-triggers.gen.go
  domain/schema/model_schema_test.go
Owners: none

feat: service implementation for generations
  domain/generation/service/generation.go
  domain/generation/service/package_mock_test.go
  domain/generation/service/package_test.go
  domain/generation/service/service.go
  domain/generation/service/service_test.go
Owners: none

feat: types for service generations
  domain/generation/doc.go
  domain/generation/sequences.go
  domain/generation/types.go
Owners: none

feat: add state methods for generations
  domain/generation/state/commit.go
  domain/generation/state/generation.go
  domain/generation/state/history.go
  domain/generation/state/state.go
  domain/generation/state/state_test.go
  domain/generation/state/types.go
Owners: none

feat: database types between service and state
  domain/generation/errors/errors.go
  domain/generation/internal/doc.go
  domain/generation/internal/types.go
Owners: none

feat: add set charm to a generation
  domain/application/service/application.go
  domain/application/service/application_test.go
  domain/application/service/package_mock_test.go
  domain/application/state/charm.go
  domain/application/state/generation_charm_test.go
  domain/application/state/types.go
  domain/application/types.go
  domain/generation/state/state_test.go
  domain/schema/model/sql/0037-generation.sql
Owners: @SimonRichardson, @nvinuesa, @jack-w-shaw

feat: integration with application
  domain/application/service/application.go
  domain/application/service/application_test.go
  domain/application/service/package_mock_test.go
  domain/application/state/application.go
  domain/application/state/charm.go
  domain/application/state/generation.go
  domain/application/state/generation_charm_test.go
  domain/application/state/generation_config.go
  domain/application/state/generation_config_test.go
  domain/application/state/generation_resource.go
  domain/application/state/generation_resource_test.go
  domain/application/state/types.go
  domain/application/types.go
  domain/generation/state/state_test.go
  domain/schema/model/sql/0037-generation.sql
Owners: @SimonRichardson, @nvinuesa, @jack-w-shaw

feat: add generational changes to application
  domain/application/service/application.go
  domain/application/service/package_mock_test.go
  domain/application/service/service.go
  domain/application/state/application.go
  domain/application/state/generation_config_test.go
  domain/application/watcher_test.go
Owners: @SimonRichardson, @nvinuesa, @jack-w-shaw

feat: use config to drive the units
  apiserver/facades/agent/uniter/service.go
  apiserver/facades/agent/uniter/service_mock_test.go
  apiserver/facades/agent/uniter/uniter.go
  apiserver/facades/agent/uniter/uniter_test.go
Owners: none

feat: wire up apiserver for model generations
  api/facadeversions.go
  apiserver/allfacades.go
  apiserver/facades/client/modelgeneration/modelgeneration.go
  apiserver/facades/client/modelgeneration/modelgeneration_test.go
  apiserver/facades/client/modelgeneration/package_test.go
  apiserver/facades/client/modelgeneration/register.go
  apiserver/facades/client/modelgeneration/service.go
  apiserver/facades/client/modelgeneration/service_mock_test.go
  apiserver/facades/controller/migrationtarget/domainservices_mock_test.go
  apiserver/facades/schema.json
  domain/services/model.go
  internal/migration/domainservices_mock_test.go
  internal/services/interface.go
  internal/worker/domainservices/domainservices_mock_test.go
  internal/worker/modelworkermanager/domainservices_mock_test.go
Owners: none

feat: add api generation change
  api/client/modelgeneration/modelgeneration.go
  api/client/modelgeneration/modelgeneration_test.go
  api/client/modelgeneration/package_test.go
Owners: none

feat: add generation to the cli
  cmd/juju/commands/main.go
  cmd/juju/commands/main_test.go
  cmd/juju/model/abort.go
  cmd/juju/model/abort_test.go
  cmd/juju/model/addbranch.go
  cmd/juju/model/addbranch_test.go
  cmd/juju/model/commit.go
  cmd/juju/model/commit_test.go
  cmd/juju/model/generation.go
  cmd/juju/model/generation_test.go
  cmd/juju/model/listcommits.go
  cmd/juju/model/listcommits_test.go
  cmd/juju/model/showcommit.go
  cmd/juju/model/showcommit_test.go
  cmd/juju/model/trackbranch.go
  cmd/juju/model/trackbranch_test.go
Owners: none

feat: update status
  apiserver/facades/client/client/client.go
  apiserver/facades/client/client/fullstatus_test.go
  apiserver/facades/client/client/package_test.go
  apiserver/facades/client/client/register.go
  apiserver/facades/client/client/service.go
  apiserver/facades/client/client/service_mock_test.go
  apiserver/facades/client/client/status.go
  cmd/juju/status/formatted.go
  cmd/juju/status/formatter.go
  cmd/juju/status/output_tabular.go
  cmd/juju/status/output_tabular_test.go
  rpc/params/status.go
Owners: none

feat: allow abort to succeed
  domain/generation/errors/errors.go
  domain/generation/service/service_test.go
  domain/generation/state/generation.go
  domain/generation/state/state_test.go
Owners: none

feat: ensure charm checks on commit
  domain/generation/state/commit.go
  domain/generation/state/commit_charm.go
  domain/generation/state/commit_charm_test.go
  domain/generation/state/commit_test.go
  domain/generation/state/generation_test.go
  domain/generation/state/history_test.go
  domain/generation/state/state_test.go
Owners: none

feat: ensure async download responds to diveragence
  apiserver/facades/agent/uniter/uniter.go
  apiserver/facades/agent/uniter/uniter_test.go
  domain/application/service/service.go
  domain/application/state/application.go
  domain/application/state/application_test.go
  domain/application/watcher_test.go
  domain/schema/model_schema_test.go
  domain/schema/modeltriggers.go
Owners: @SimonRichardson, @nvinuesa, @jack-w-shaw

refactor: ensure status is for the unit
  cmd/juju/status/formatted.go
  cmd/juju/status/formatter.go
  cmd/juju/status/output_tabular.go
  cmd/juju/status/output_tabular_test.go
  domain/status/state/model/modelstate.go
  domain/status/state/model/modelstate_test.go
Owners: none

feat: multiple branch support
  apiserver/facades/client/client/fullstatus_test.go
  apiserver/facades/client/client/status.go
  apiserver/facades/client/modelgeneration/modelgeneration_test.go
  apiserver/facades/schema.json
  cmd/juju/model/commit.go
  cmd/juju/model/commit_test.go
  cmd/juju/model/listcommits.go
  cmd/juju/model/listcommits_test.go
  cmd/juju/status/formatter.go
  cmd/juju/status/output_tabular_test.go
  domain/application/state/application.go
  domain/application/state/application_test.go
  domain/application/state/generation.go
  domain/application/state/generation_charm_test.go
  domain/application/state/generation_config.go
  domain/application/state/generation_config_test.go
  domain/application/state/generation_resource_test.go
  domain/application/state/types.go
  domain/application/watcher_test.go
  domain/generation/errors/errors.go
  domain/generation/sequences.go
  domain/generation/service/generation.go
  domain/generation/service/service.go
  domain/generation/state/commit.go
  domain/generation/state/commit_test.go
  domain/generation/state/generation.go
  domain/generation/state/generation_test.go
  domain/generation/state/history.go
  domain/generation/state/history_test.go
  domain/generation/state/state_test.go
  domain/generation/state/types.go
  domain/generation/types.go
  domain/schema/model.go
  domain/schema/model/sql/0037-generation.sql
  domain/schema/model/triggers/generation-triggers.gen.go
  domain/schema/model_schema_test.go
  rpc/params/status.go
Owners: @SimonRichardson, @nvinuesa, @jack-w-shaw

feat: correctly watch units application config
  apiserver/facades/agent/uniter/service.go
  apiserver/facades/agent/uniter/service_mock_test.go
  apiserver/facades/agent/uniter/uniter.go
  apiserver/facades/agent/uniter/uniter_test.go
  domain/application/service/application.go
  domain/application/service/package_mock_test.go
  domain/application/service/service.go
  domain/application/state/application.go
  domain/application/state/generation_config_test.go
  domain/application/watcher_test.go
Owners: @SimonRichardson, @nvinuesa, @jack-w-shaw

feat: dbrepl completer
  internal/worker/dbrepl/completer.go
  internal/worker/dbrepl/completer_test.go
  internal/worker/dbrepl/worker.go
Owners: @manadart, @SimonRichardson, @jack-w-shaw

feat: add generation to the cli
  cmd/juju/commands/main.go
  cmd/juju/commands/main_test.go
  cmd/juju/model/abort.go
  cmd/juju/model/abort_test.go
  cmd/juju/model/addbranch.go
  cmd/juju/model/addbranch_test.go
  cmd/juju/model/commit.go
  cmd/juju/model/commit_test.go
  cmd/juju/model/generation.go
  cmd/juju/model/generation_test.go
  cmd/juju/model/listcommits.go
  cmd/juju/model/listcommits_test.go
  cmd/juju/model/showcommit.go
  cmd/juju/model/showcommit_test.go
  cmd/juju/model/trackbranch.go
  cmd/juju/model/trackbranch_test.go
Owners: none

feat: correctly watch units application config
  apiserver/facades/agent/uniter/service.go
  apiserver/facades/agent/uniter/service_mock_test.go
  apiserver/facades/agent/uniter/uniter.go
  apiserver/facades/agent/uniter/uniter_test.go
  domain/application/service/application.go
  domain/application/service/package_mock_test.go
  domain/application/service/service.go
  domain/application/state/application.go
  domain/application/state/generation_config_test.go
  domain/application/watcher_test.go
Owners: @SimonRichardson, @nvinuesa, @jack-w-shaw

feat: ensure async download responds to diveragence
  apiserver/facades/agent/uniter/uniter.go
  apiserver/facades/agent/uniter/uniter_test.go
  domain/application/service/service.go
  domain/application/state/application.go
  domain/application/state/application_test.go
  domain/application/watcher_test.go
  domain/schema/model_schema_test.go
  domain/schema/modeltriggers.go
Owners: @SimonRichardson, @nvinuesa, @jack-w-shaw

feat: integration with application
  domain/application/service/application.go
  domain/application/service/application_test.go
  domain/application/service/package_mock_test.go
  domain/application/state/application.go
  domain/application/state/charm.go
  domain/application/state/generation.go
  domain/application/state/generation_charm_test.go
  domain/application/state/generation_config.go
  domain/application/state/generation_config_test.go
  domain/application/state/generation_resource.go
  domain/application/state/generation_resource_test.go
  domain/application/state/types.go
  domain/application/types.go
  domain/generation/state/state_test.go
  domain/schema/model/sql/0037-generation.sql
Owners: @SimonRichardson, @nvinuesa, @jack-w-shaw
