Repository SimonRichardson/juju, changes with the owners that .github/CODEOWNERS names for each.
All owners: @manadart, @SimonRichardson, @jack-w-shaw, @hmlanigan, @nvinuesa, @tlm, @gfouillet

.github/CODEOWNERS:

# Core database packages
/core/changestream/**                         @manadart @SimonRichardson
/core/database/**                             @manadart @SimonRichardson
/core/watcher/**                              @manadart @SimonRichardson
/internal/database/**                         @manadart @SimonRichardson
/internal/worker/dbaccessor/**                @manadart @SimonRichardson
/internal/worker/changestream/**              @manadart @SimonRichardson
/internal/worker/changestreampruner/**        @manadart @SimonRichardson

# Lease management packages
/internal/worker/lease/**                     @manadart
/internal/worker/leaseexpiry/**               @manadart

# REPL worker
/internal/worker/dbrepl/**                    @manadart @SimonRichardson @jack-w-shaw
/internal/worker/dbreplaccessor/**            @manadart @SimonRichardson @jack-w-shaw

# Charmhub
/internal/charmhub/**                         @hmlanigan @SimonRichardson @nvinuesa @jack-w-shaw

# Model domain packages
/core/model/**                                @tlm
/domain/model/**                              @tlm
/domain/modelconfig/**                        @tlm

# Macaroons
/internal/macaroon/**                         @manadart @jack-w-shaw
/domain/macaroon/**                           @manadart @jack-w-shaw

# Juju controller
/cmd/jujud-controller/**                      @manadart @SimonRichardson

# Application (and charm) domain packages
/core/charm/**                                @SimonRichardson @nvinuesa @jack-w-shaw
/internal/charm/**                            @SimonRichardson @nvinuesa @jack-w-shaw
/domain/application/**                        @SimonRichardson @nvinuesa @jack-w-shaw
/internal/worker/asynccharmdownloader/**      @SimonRichardson

# Network domain packages
/domain/network/**                            @manadart @nvinuesa

# External controller domain packages
/domain/externalcontroller/**                 @manadart @nvinuesa

# Resource domain packages
/core/resource/**                             @hmlanigan @gfouillet
/domain/resource/**                           @hmlanigan @gfouillet
/internal/resource/**                         @hmlanigan @gfouillet

# Relation domain packages
/core/relation/**                             @hmlanigan @gfouillet
/domain/relation/**                           @hmlanigan @gfouillet

# Cross model relation domain packages
/domain/crossmodelrelation/**                 @SimonRichardson
/internal/worker/remoterelationconsumer/**    @SimonRichardson
/internal/worker/remoterelationofferer/**     @SimonRichardson

# Removal
/internal/worker/removal/**                   @manadart
/domain/removal/**                            @manadart

feat: start to wire up publish relation changes
  domain/crossmodelrelation/service/package_mock_test.go
  domain/crossmodelrelation/service/remoteapplication.go
  domain/crossmodelrelation/state/model/remoteapplication.go
  domain/crossmodelrelation/state/model/types.go
  domain/crossmodelrelation/types.go
Owners: @SimonRichardson

feat: wire up application settings
  domain/crossmodelrelation/state/model/remoteapplication.go
  domain/crossmodelrelation/state/model/types.go
  domain/crossmodelrelation/types.go
  domain/relation/hash.go
  domain/relation/state/relation.go
Owners: @SimonRichardson, @hmlanigan, @gfouillet

refactor: remove unused parameter
  apiserver/apiserver.go
  apiserver/internal/handlers/crossmodel/offerauth.go
  apiserver/internal/handlers/crossmodel/service_mock_test.go
  apiserver/shared.go
Owners: none

fix(domain/removal): ignore missing models during controller removal
  tests/includes/charmcraft.sh
  tests/suites/storage/charm_storage.sh
  tests/suites/storage/model_storage_block.sh
  tests/suites/storage/model_storage_filesystem.sh
Owners: none

fix(ci): remove tests relying on export bundles
  tests/suites/firewall/expose_app.sh
Owners: none

feat: implement GetOffersWithConnections in domain
  domain/crossmodelrelation/service/offer.go
  domain/crossmodelrelation/service/offer_test.go
  domain/crossmodelrelation/service/package_mock_test.go
  domain/crossmodelrelation/state/model/offer.go
  domain/crossmodelrelation/state/model/offer_test.go
  domain/crossmodelrelation/state/model/package_test.go
  domain/crossmodelrelation/state/model/types.go
  domain/crossmodelrelation/types.go
Owners: @SimonRichardson

feat: use GetOffersWithConnections
  apiserver/facades/client/applicationoffers/applicationoffers.go
  apiserver/facades/client/applicationoffers/applicationoffers_test.go
  apiserver/facades/client/applicationoffers/package_mock_test.go
  apiserver/facades/client/applicationoffers/service.go
Owners: none

feat: mark instance and machine as dead
  apiserver/facades/agent/provisioner/provisioner.go
  domain/removal/service/machine.go
  domain/removal/service/machine_test.go
  domain/removal/service/package_mock_test.go
  domain/removal/state/model/machine.go
Owners: @manadart

wip
  internal/worker/apiremotecaller/manifold.go
  internal/worker/controllerpresence/manifold.go
  internal/worker/controllerpresence/worker.go
Owners: none

f
  internal/worker/apiremotecaller/manifold.go
  internal/worker/apiremotecaller/worker.go
  internal/worker/controllerpresence/worker.go
Owners: none

wip
  cmd/jujud-controller/agent/machine/manifolds.go
  internal/objectstore/remote.go
  internal/worker/controllerpresence/manifold.go
  internal/worker/controllerpresence/worker.go
Owners: @manadart, @SimonRichardson

f
  internal/worker/apiremotecaller/worker.go
Owners: none

wip
  internal/objectstore/remote/retriever.go
  internal/worker/apiremotecaller/remote.go
  internal/worker/apiremotecaller/worker.go
  internal/worker/controllerpresence/worker.go
Owners: none

feat: do not destroy provider on model delete
  domain/removal/service/model.go
  domain/removal/service/model_test.go
Owners: @manadart

test: re-enable tests in apiserver
  apiserver/facades/controller/migrationtarget/migrationtarget_test.go
Owners: none

feat: rework model import to handle deletion
  apiserver/facades/controller/migrationtarget/migrationtarget.go
  apiserver/facades/controller/migrationtarget/register.go
  apiserver/root.go
  core/modelmigration/coordinator.go
  core/modelmigration/coordinator_test.go
  domain/lease/modelmigration/import_test.go
  domain/model/modelmigration/import.go
  domain/model/service/migration/migration.go
  domain/model/service/migration/migration_test.go
  domain/model/service/migration/package_test.go
  domain/model/service/modelservice.go
  domain/model/service/service.go
  domain/model/state/controller/state.go
  domain/modelmigration/service/package_test.go
  domain/modelmigration/service/service.go
  domain/modelmigration/service/service_mock_test.go
  domain/modelmigration/service/service_test.go
  domain/modelmigration/state/controller/state.go
  domain/modelmigration/state/model/state.go
  domain/modelmigration/state/model/state_test.go
  domain/modelmigration/state/model/types.go
  domain/removal/service/model.go
  domain/services/model.go
Owners: @tlm, @manadart

feat: activate import in one place
  domain/modelmigration/service/service.go
  domain/modelmigration/service/service_mock_test.go
  domain/modelmigration/service/service_test.go
  domain/modelmigration/state/controller/state.go
  domain/modelmigration/state/controller/state_test.go
  domain/modelmigration/state/controller/types.go
  domain/modelmigration/state/model/state.go
  domain/modelmigration/state/model/state_test.go
  domain/modelmigration/state/model/types.go
  domain/services/model.go
Owners: none

chore: regenerate mocks
  domain/model/modelmigration/migrations_mock_test.go
  domain/model/service/migration/package_mock_test.go
  domain/model/service/package_mock_test.go
Owners: @tlm

feat: remove model so undertaker can delete
  apiserver/facades/controller/migrationtarget/domain_mock_test.go
  apiserver/facades/controller/migrationtarget/migrationtarget.go
  domain/removal/service/model.go
  domain/removal/service/model_test.go
  domain/removal/service/package_mock_test.go
  domain/removal/state/model/model.go
  domain/removal/state/model/model_test.go
Owners: @manadart

feat: ensure we can delete a model
  domain/removal/service/model.go
  domain/removal/service/model_test.go
  domain/removal/service/package_mock_test.go
  domain/removal/service/service.go
  domain/removal/state/controller/model.go
  domain/removal/state/controller/model_test.go
  domain/removal/state/controller/types.go
Owners: @manadart

refactor: remove delete model from model migration
  apiserver/facades/controller/migrationtarget/migrationtarget_test.go
  domain/model/modelmigration/import_test.go
Owners: @tlm

refactor: remove db deleter from tests
  domain/model/modelmigration/import_test.go
Owners: @tlm

feat: removal service in migration target
  apiserver/facades/controller/migrationtarget/domain_mock_test.go
  apiserver/facades/controller/migrationtarget/migrationtarget.go
  apiserver/facades/controller/migrationtarget/migrationtarget_test.go
  apiserver/facades/controller/migrationtarget/package_test.go
Owners: none

feat: don't mark the model as dead
  domain/removal/service/model.go
  domain/removal/service/model_test.go
  domain/removal/service/package_mock_test.go
  domain/removal/state/model/model.go
  domain/removal/state/model/model_test.go
  internal/migration/migration_integration_test.go
  internal/migration/migration_test.go
Owners: @manadart

feat: ensure we can remove a model during aborting
  apiserver/facades/controller/migrationtarget/migrationtarget.go
  apiserver/facades/controller/migrationtarget/register.go
  domain/removal/service/controller.go
  domain/removal/service/model.go
  domain/removal/service/model_test.go
  domain/removal/service/package_mock_test.go
  domain/removal/state/controller/model.go
  domain/removal/state/controller/model_test.go
Owners: @manadart

refactor: remove delete db interface from apiserver
  apiserver/admin.go
  apiserver/apiserver.go
  apiserver/package_test.go
  apiserver/shared.go
  apiserver/shared_test.go
  cmd/jujud-controller/agent/machine/manifolds.go
  domain/modelmigration/state/controller/state.go
  domain/modelmigration/state/controller/state_test.go
  domain/services/model.go
  internal/worker/apiserver/manifold.go
  internal/worker/apiserver/manifold_test.go
  internal/worker/apiserver/worker.go
  internal/worker/apiserver/worker_state_test.go
  internal/worker/apiserver/worker_test.go
  juju/testing/apiserver.go
Owners: @manadart, @SimonRichardson

refactor: remove deadcode
  domain/modelmigration/state/controller/state_test.go
Owners: none

feat: operator status
  domain/schema/model.go
  domain/schema/model/sql/0039-operator-status.PATCH.sql
  domain/status/service/package_mock_test.go
  domain/status/service/service.go
  domain/status/service/service_test.go
  domain/status/state/model/modelstate.go
  domain/status/state/model/modelstate_test.go
  internal/worker/caasapplicationprovisioner/mocks/domain_mock.go
  internal/worker/caasapplicationprovisioner/ops.go
  internal/worker/caasapplicationprovisioner/ops_test.go
  internal/worker/caasapplicationprovisioner/worker.go
Owners: none

feat: unsure we delete the status
  domain/removal/state/model/application.go
Owners: @manadart

feat: ensure tests are aware of new table
  domain/schema/model_schema_test.go
Owners: none

refactor: serve connection
  apiserver/apiserver.go
  apiserver/internal/handlers/crossmodel/offerauth.go
  apiserver/internal/handlers/crossmodel/service_mock_test.go
  apiserver/root.go
  apiserver/shared.go
Owners: none

refactor: do not over expose
  domain/controllerupgrader/service/service.go
  domain/modelagent/service/service.go
  domain/modelagent/service/service_test.go
Owners: none

feat: zero version
  core/semversion/version.go
  core/semversion/version_test.go
  domain/modelagent/service/service.go
Owners: none

feat: auto upgrade model
  domain/modelmigration/service/service.go
  domain/modelmigration/service/service_mock_test.go
  domain/modelmigration/service/service_test.go
Owners: none

feat: upgrade model state code
  domain/controllerupgrader/service/service.go
  domain/modelagent/service/service.go
  domain/modelagent/service/service_test.go
  domain/modelmigration/state/controller/state.go
  domain/modelmigration/state/controller/state_test.go
  domain/modelmigration/state/controller/types.go
  domain/modelmigration/state/model/state.go
  domain/modelmigration/state/model/state_test.go
  domain/modelmigration/state/model/types.go
Owners: none

feat: start implement tools updater
  internal/worker/toolsversionchecker/manifold.go
  internal/worker/toolsversionchecker/manifold_test.go
  internal/worker/toolsversionchecker/worker.go
  internal/worker/toolsversionupdater/manifold.go
  internal/worker/toolsversionupdater/worker.go
Owners: none

refactor: modernize tools version checker
  cmd/jujud-controller/agent/machine/manifolds.go
  internal/worker/toolsversionchecker/manifold.go
  internal/worker/toolsversionchecker/manifold_test.go
  internal/worker/toolsversionchecker/worker.go
  internal/worker/toolsversionchecker/worker_test.go
Owners: @manadart, @SimonRichardson

feat: scaffold tools version updater
  domain/modelagent/service/service.go
  internal/worker/bootstrap/worker.go
  internal/worker/toolsversionupdater/manifold.go
  internal/worker/toolsversionupdater/worker.go
Owners: none

refactor: go fix slicessort
  apiserver/allfacades_test.go
  core/network/network.go
  core/network/network_test.go
  domain/externalcontroller/state/state_test.go
  internal/provider/ec2/local_test.go
Owners: @manadart, @nvinuesa

refactor: go fix stringsbuilder
  cmd/cmd/cmd.go
  cmd/cmd/markdown.go
  cmd/juju/action/cancel.go
  cmd/juju/caas/add.go
  cmd/juju/charmhub/findwriter.go
  cmd/juju/cloud/updatepublicclouds.go
  cmd/juju/commands/help_action_commands.go
  cmd/juju/commands/help_hook_commands.go
  cmd/juju/common/cloud.go
  cmd/juju/config/config.go
  cmd/juju/ssh/ssh_machine_test.go
  cmd/juju/status/history.go
  cmd/plugins/juju-metadata/generateagents_test.go
  core/network/hostport.go
  environs/imagedownloads/simplestreams.go
  internal/bundle/changes/handlers.go
  internal/network/netplan/netplan_test.go
  internal/provider/common/bootstrap_test.go
  internal/provider/kubernetes/exec/exec.go
  internal/upgrades/upgradevalidation/validation.go
  internal/worker/querylogger/worker_test.go
  scripts/md-gen/controller-config/main.go
  scripts/md-gen/model-config/main.go
Owners: none
